<table class="fixed" border="2">
	<table class="fixed" border="2">
		<col width="300px"/><col width="300px"/>
		<thead><tr><th><a href="/files/">View files</a></th><th><a href="/sensors/">View sensors</a></th></tr></thead>
	</table>
	<table class="fixed" border="2">
		<col width="1500px"	/>
		<tr>
			<td>
				<h2>OpenHAP File Server</h2>
				<P>Step 1. On android, long press the file and download.</p>
				<P>Step 2. Send the file to the whatsapp group.</p>
				<P>Step 3. After supervisor approval, delete measurement(s) from device to save space in preparation for next measurement.</p>
			</td>
		</tr>
	</table>
</table>