<table class="fixed" border="2">
	<table class="fixed" border="2">
		<colgroup>
			<col width="300px"/><col width="300px"/><col width="300px"/><col width="300px"/>
		</colgroup>
		<thead>
			<tr>
				<th>
					<a href="/files/">View files</a>
				</th>
				<th>
					<a href="/sensors/">View sensors</a>
				</th>
				<th>
					<a href="/bluetooth/">View wristband</a>
				</th>
				<th>
					<a href="/measure/">Start measurement</a>
				</th>
			</tr>
		</thead>
	</table>
	<table class="fixed" border="2">
		<col width="1500px"	/>
		<tr>
			<td>
				<h2>Overall steps</h2>
				<P>Step 1. Setup the device physically in the household.</p>
				<P>Step 2. Connect to WIFI network OpenHAP-XX:XX:XX:XX:XX:XX where XX:XX:XX:XX:XX:XX is the Device identification</p>
				<P>Step 3. After successful connection, go to <a href='192.168.4.1'>192.168.4.1</a> on chrome browser</p>
				<P>Step 4. Check the thermal camera, device time and pollution level on the <a href="/sensors/">View sensors</a> link above.The page takes time to load</p>
				<P>Step 5. Check the wriststrap signal on the <a href="/bluetooth/">View wristband</a> link above</p>
				<P>Step 6. If all is okay, start the measurement by clicking <a href="/measure/">Start measurement</a> link above</p>
				<P>Step 7. Leave the device for 2-3 days</p>
				<P>Step 8. Retrieve the device and do note the retrieval time</p>
				<P>Step 9. Power up the device and retrieve the recorded data as below</p>
				<P>Step 10. On android, long press the file on this webpage and choose to download to device.</p>
				<P>Step 11. Share the file to the whatsapp group.</p>
				<P>Step 12. After supervisor approval, delete measurement(s) from device to save space in preparation for next measurement and repeat steps.</p>
			</td>
		</tr>
	</table>
</table>