<!-- Header, partial body with nav-bar generated procedurally here -->
		<div class="w3-card-4 w3-margin" style="width:90%;">
			<header class="w3-container w3-blue">
				<h5><strong>Setup and teardown steps</strong></h5>
			</header>
			<div class="w3-container">
				<ol class="w3-ol w3-tiny">
					<li>Setup the device physically in the household.</li>
					<li>Connect to WIFI network OpenHAP-XX:XX:XX:XX:XX:XX where XX:XX:XX:XX:XX:XX is the Device identification. Password is "opensesame" - without quotes</li>
					<li>After successful connection, go to 192.168.4.1 on chrome browser</li>
					<li>Check the thermal camera, device time and pollution level on the sensors link above</li>
					<li>Check the wristband signal on the  wristband link above. Put the wristband on the responents hand, and give proper
						instruction on its use. Make them comfortable. They may remove it when bathing or washing dishes and put it back on, after.</li>
					<li>If all is okay, start the measurement by clicking Start measurement link above. After clicking, 
						it will start and redirect your browser to the files page.You will also note that the "start measurement" 
						link has changed to "stop measurement". Once you see this, the device has began measurement. This can be validated by waiting a few minutes, 
						refreshing the files page and downloading the file. You may send this to the whatsapp group for checking</li>
					<li>Leave the device for 2-3 days</li>
					<li>Retrieve the device and do note the retrieval time</li>
					<li>Power up the device and click Stop measurement at the top. See step 6 on why the link has now changed to start measurement. After this, retrieve 
						the recorded data as below</li>
					<li>On android, long press the file on this webpage and choose to download to device</li>
					<li>Share the file to the whatsapp group</li>
					<li>After supervisor approval, delete measurement(s) from device to save space in preparation for next measurement and repeat steps</li>
				  </ol>
			</div>
			<footer class="w3-container w3-blue">
				<h5><strong>End of steps</strong></h5>
			</footer>
		</div>
<!-- File list generated procedurally here -->