		<!-- Header, partial body with nav-bar generated procedurally here -->
		<div class="w3-card-4 w3-margin" style="width:90%;">
			<header class="w3-container w3-blue">
				<h5><strong>OpenHAP sensor viewer</strong></h5>
			</header>
			<div class="w3-container">
				<ol class="w3-ol w3-tiny">
					<li>Turn your volume up because each time the device sends data(every 5 seconds), you should hear a beep sound. If there is no beep sound, 
						press anywhere on the page and it should start, such as here ==〉〈==</li>
					<li><strong>Note</strong>: Check maximum thermal temperature, pollution level and device time at the table on the bottom of this page.
						Ensure the date shown by device is the same as your phone, but less by 3 hours. If the date is incorrect, alert supervisor in the whatsapp group</li>
					<li><strong>Note</strong>: Use the camera image below to check what the camera is seeing. It may take two beeps(10 seconds) or more for the image 
						to stabilize and show up once the unit is still(no movement).Hotter temperatures appear red, cooler temperatures appear green.</li>
				  </ol>
			</div>
		</div>
		<div class="w3-card-4 w3-margin" style="width:300px">
			<header class="w3-container w3-blue">
				<h5><strong>Thermal camera live view</strong></h5>
			</header>
			<div id = "container"></div>
		</div>
		<div class="w3-card-4 w3-margin" style="width:90%;">
			<header class="w3-container w3-blue">
				<h5><strong>General device data</strong></h5>
			</header>
			<div class="w3-responsive">
				<table class="w3-table-all w3-tiny">
					<tr>
						<th style="vertical-align: middle">
							Live max camera temperature
						</th>
						<td style="vertical-align: middle">
							<span id="t-max"></span>
						</td>
					</tr>
						<th style="vertical-align: middle">
							Live pollution level
						</th>
						<td style="vertical-align: middle">
							<span id="PM-2.5"></span>
						</td>
					</tr>
						<th style="vertical-align: middle">
							Live device time
						</th>
						<td style="vertical-align: middle">
							<span id="time"></span>
						</td>
					</tr>
				</table>
			</div>
			<footer class="w3-container w3-red" id="status-footer">
				<p id="status"><strong>Status</strong>: Webpage still loading...</p>
			</footer>
		</div>
		<script src="/d3.min.js"></script>
		<script>
		var audio = new Audio('/notification.mp3')

		const SOCKET_URL = "ws://192.168.4.1/ws_sensor"
		var websocketInst = new WebSocket(SOCKET_URL);

		var timeoutFlag;
		var data = []

		websocketInst.onopen = function (evt) {
			console.log("Connection open");
			console.log(evt);
			timeoutFlag = setInterval(function() { 
													websocketInst.send("sample");
													document.getElementById("status-footer").classList.remove('w3-green');
													document.getElementById("status-footer").classList.remove('w3-red');
													document.getElementById("status-footer").classList.add('w3-orange');
													document.getElementById("status").innerHTML = '<strong>Status</strong>: Sent command to device...';
												}, 5000 );
		};
		websocketInst.onmessage = function (evt) {
			data = []
			temp = []
			audio.play();
			document.getElementById("status-footer").classList.remove('w3-red');
			document.getElementById("status-footer").classList.remove('w3-orange');
			document.getElementById("status-footer").classList.add('w3-green');
			document.getElementById("status").innerHTML = '<strong>Status</strong>: Received sensor data from device...';
			try {
				var response = JSON.parse(evt.data);
				document.getElementById("t-max").innerHTML = response.maxTemp.toFixed(4)+' °C';
				document.getElementById("container").innerHTML = '';
				document.getElementById("PM-2.5").innerHTML = response.particulates.toFixed(4)+' µg/m<sup>3</sup>';
				document.getElementById("time").innerHTML = response.time+' GMT';
			} catch(error) {
				document.getElementById("t-max").innerHTML = 'Internal error';
				document.getElementById("PM-2.5").innerHTML = 'Internal error';
				document.getElementById("time").innerHTML = 'Internal error';
			}
			if("tempArray" in response){
				originalArray = response.tempArray
				temp = response.tempArray;
				while(temp.length > 0)
				{
					data.push(temp.splice(0,16))
				}

				console.log(data)

				const margin = { top: 16, right: 16, bottom: 16, left: 16 },
				width = 260,
				height = 201,
				container = "#container",
				startColor = "#21A38B",
				endColor = "#FC7C89"

				// Find our max and min values
				const maxValue = d3.max(data, layer => {
				return d3.max(layer, d => {
					return d
				})
				})
				const minValue = d3.min(data, layer => {
				return d3.min(layer, d => {
					return d
				})
				})

				const numrows = 12
				// assume all subarrays have same length
				const numcols = 16

				// Create the SVG container
				const svg = d3
				.select(container)
				.append("svg")
				.attr("width", width + margin.left + margin.right)
				.attr("height", height + margin.top + margin.bottom)
				.append("g")
				.attr("transform", "translate(" + margin.left + "," + margin.top + ")")

				// Add a background to the SVG
				const background = svg
				.append("rect")
				.style("stroke", "black")
				.attr("width", width)
				.attr("height", height)

				// Build some scales for us to use
				const x = d3.scale
				.ordinal()
				.domain(d3.range(numcols))
				.rangeBands([0, width])

				const y = d3.scale
				.ordinal()
				.domain(d3.range(numrows))
				.rangeBands([0, height])

				// This scale in particular will
				// scale our colors from the start
				// color to the end color.
				const colorMap = d3.scale
				.linear()
				.domain([minValue, maxValue])
				.range([startColor, endColor])

				// Generate rows and columns and add
				// color fills.
				const row = svg
				.selectAll(".row")
				.data(data)
				.enter()
				.append("g")
				.attr("class", "row")
				.attr("transform", (d, i) => {
					return "translate(0," + y(i) + ")"
				})

				const cell = row
				.selectAll(".cell")
				.data(d => {
					return d
				})
				.enter()
				.append("g")
				.attr("class", "cell")
				.attr("transform", (d, i) => {
					return "translate(" + x(i) + ", 0)"
				})

				cell
				.append("rect")
				.attr("width", x.rangeBand() - 0.3)
				.attr("height", y.rangeBand() - 0.3)

				row
				.selectAll(".cell")
				.data((d, i) => {
					return data[i]
				})
				.style("fill", colorMap)
			}
		};
		websocketInst.onerror = function (evt) {
			console.log("Error");
			console.log(evt);
		};
		websocketInst.onclose = function (evt) {
			clearInterval(timeoutFlag);
			console.log("Connection closed");
			console.log(evt);
		};
		</script>
	</body>
<html>
